{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	

	<h1>{{ a }}</h1>

	<form action="/splitwise/friend/{{ friend.id }}/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Settle Up" name= "settle_up">
    </form>

    {% if z >= 0 %}
    	{{ a }} owes you {{ z }} outside group
    	{% else %}
    	You owe {{ a }} {% widthratio z 1 -1 %} outside group
    {% endif %}

    <table>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    {% for g,p in groups_list %}
    <tr>
        <td><a href="/splitwise/group/{{ g.id }}/">{{ g.group_name }}</a></td>
        {% if p >= 0 %}
        <td><font color = green>{{ p }}</font></td>
        {% else %}
        <td><font color = red>{% widthratio p 1 -1 %}</font></td>
        {% endif %}
        
    </tr>
    {% endfor %}
    </table>
{% endblock %}