<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <br>
  First Name = {{ user.first_name }}
  <br>
  Last Name = {{ user.last_name }}
  <br>
  Email = {{ user.email }}
  <br>
  Description = {{ user.profile.bio }}
  <br>
  Profile Photo
  <img src="{{ user.profile.image.url }}" width="240">
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
