{% if groups %}
    <h1>Groups Tab</h1>
    <h4>Add Group</h4>
     <form action="/SSL/" method="POST">
        {% csrf_token %}
        {{ formg }}
        <input type="submit" value="Submit" name="group">
    </form>
    
    <table>
    	<tr>
    		<th>Name</th>
            <th>Status</th>
    	</tr>
    {% for g,m in mylist %}
    <tr>
        <td><a href="/SSL/group/{{ g.name }}/">{{ g.name }}</a></td>
        {% if m >= 0 %}
        <td><font color = green>{{ m }}</font></td>
        {% else %}
        <td><font color = red>{{ m }}</font></td>
        {% endif %}
        <td><form action="/SSL/" method="POST">
        {% csrf_token %}
        <input type="submit" value="Leave" name= "{{ g.name }}">
        </form></td>
    </tr>
    {% endfor %}
    </table>
    <h1>Friends Tab</h1>
    <h4>Add Friends</h4>
    <form action="/SSL/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" name="friend">
    </form>


    <table>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    {% for f in friends %}
    <tr>
        <td><a href="/SSL/{{ f.user_id }}/">{{ f.user_id }}</a></td>
        {% if f.who_owes_who == 'They owe you' %}
        <td><a href="/SSL/{{ question.id }}/"><font color="green">{{ f.money_owed }}</font></a></td>
        {% else %}
        <td><a href="/SSL/{{ question.id }}/"><font color="red">{{ f.money_owed }}</font></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}