{% if groups %}
    <h1>Groups </h1>
    <table>
    	<tr>
    		<th>Name</th>
            <th>Status</th>
    	</tr>
    {% for g in groups %}
    <tr>
        <td><a href="/SSL/group/{{ g.group.name }}/">{{ g.group.name }}</a></td>
        {% if g.friend.who_owes_who == 'They owe you' %}
        <td><a href="/SSL/{{ question.id }}/"><font color="green">{{ g.money_owed }}</font></a></td>
        {% else %}
        <td><a href="/SSL/{{ question.id }}/"><font color="red">{{ g.money_owed }}</font></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No polls are available.</p>
{% endif %}